/* google Font Family */
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


/* tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;



/* google font class */
.inter {
    font-family: "Inter", sans-serif;
}

.raleway {
    font-family: "Raleway", sans-serif;
}

.cinzel {
    font-family: "Cinzel", serif;
}


/* nav bar active class */
.active {
    background-color: rgba(178, 178, 179, 0) !important;
    color: #1950f6 !important;
}




/* shef_hand bg Img */
.shef_hand {
    /* Replace this with the path to your image file */
    background-image: url('./assets/HomeBanner/chef-service.jpg');
    /* Other background properties */
    background-size: cover;
    background-position: center;
    /* Other styles */
    font-family: sans-serif;
}


.home_bottom_banner {
    /* Replace this with the path to your image file    --featured.jpg */
    background-image: url('./assets/HomeBanner/featured.jpg');
    /* Other background properties */
    background-size: cover;
    background-position: center;
    /* Other styles */
    font-family: sans-serif;
    filter: grayscale(25%);
}